*:active {
    color: inherit
}


.select:hover{
    background-color: rgb(239, 235, 243)
      }

.select:active{
background-color: rgb(230, 212, 247)
  }

.boardTitle{
  
  color: #fff;
  text-transform: uppercase;
  animation: blur .75s ease-out infinite;
  text-shadow: 0px 0px 3px rgb(222, 192, 230), 0px 0px 5px rgb(222, 192, 230);
}

@keyframes blur {
  from {
    text-shadow:0px 0px 5px rgb(222, 192, 230),
      0px 0px 5px rgb(222, 192, 230), 
      0px 0px 10px rgb(222, 192, 230),
      0px 0px 10px rgb(222, 192, 230),
      0px 0px 10px rgb(222, 192, 230),
      0px 0px 10px rgb(222, 192, 230),
      0px 0px 10px rgb(222, 192, 230),
      0px 0px 10px rgb(222, 192, 230),
      0px 0px 10px rgb(222, 192, 230),
      0px 0px 10px rgb(163, 163, 163),
      0px 2px 5px #7B96B8,
      0px -2px 5px #7B96B8,
      0px -2px 5px #7B96B8;
  }
}