


.sideButton{
  border-bottom-style: solid;
  border-bottom-width: 0.1em;
  border-bottom-color: rgb(194, 194, 194);
}

.font-face-zkga {
  font-family: "ZenKakuGothicAntiqueLight";
  
 }

.font-face-zkgam {
  font-family: "ZenKakuGothicAntiqueMedium";
  
 }

 #playbutton:hover {
   
   background-color: rgba(235, 199, 199, 0.432);
   border: 1px solid rgb(233, 167, 167);
   
   color:rgb(233, 167, 167);
 }

#playbutton:active{
  background-color:rgba(233, 167, 167, 0.548);
}



 #playbutton{
   background-color: rgb(233, 167, 167);
   border: 1px solid rgb(233, 167, 167);
   color: white;
   font-weight: bolder;
   border-radius: 5px;
   transition-duration: 0.4s;
 }

 #scoreTitle {
   font-size: 2em
 }

 #score {
  font-size: 1.5em
}






@media only screen and (max-width: 600px) {
.hideOnPhone{
  visibility: hidden;
}
}

.sideText:hover{
  color: rgb(211, 177, 250);
}

.active.sideButton {
  background-color: rgb(235, 229, 241);
 }

 .page-container{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
 }

.content-wrap{
  flex: 1;
}



.nav-link {
  color: rgb(233, 167, 167)
}

.nav-link:focus {
  color: rgb(235, 128, 128)
}

.nav-link:hover{
  color: rgb(235, 128, 128)
}


.topBarText {
  color: rgb(233, 167, 167);
 }

 .topBarText:hover{
  color: rgb(235, 128, 128)
}

.topBarText:focus {
  color: rgb(235, 128, 128)
}

.dropdown-menu{
  min-width: 5rem;
}

