.sideButton{
  border-bottom-style: solid;
  border-bottom-width: 0.1em;
  border-bottom-color: rgb(194, 194, 194);
}

.font-face-zkga {
  font-family: "ZenKakuGothicAntiqueLight";
 }

.font-face-zkgam {
  font-family: "ZenKakuGothicAntiqueMedium";
 }

 #playbutton:hover {
   background-color: rgb(216, 213, 213);
   border-color: rgb(216, 213, 213);
 }

 #scoreTitle {
   font-size: 2em
 }

 #score {
  font-size: 1.5em
}

.button:active {
  transform: translateY(8px);
}

.playNote {
  transform: translateY(8px);
  padding: 20px;
  border: 5px solid #ffffff;
}

.button {
  padding: 18px;
  border: 5px solid #ffffff;
}
#c, #c2, #c3{
  background-color: #c7a086; 

  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#c:hover {background-color: #c7906c}
#c2:hover {background-color: #c7906c}
#c3:hover {background-color: #c7906c}
#d, #d2 {
  background-color: #f8ee96; 
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  
}
#d:hover {background-color: #f3e142}
#d2:hover {background-color: #f3e142}

#e, #e2{
  background-color: #d6a8a8; 
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  
}
#e:hover {background-color: #df8080}
#e2:hover {background-color: #df8080}

#f, #f2 {
  background-color: #abc786; 
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  
}
#f:hover {background-color: #98c262}
#f2:hover {background-color: #98c262}

#g, #g2 {
  background-color: #86c3c7; 
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  
}
#g:hover {background-color: #60cbd3}
#g2:hover {background-color: #60cbd3}

#a, #a2 {
  background-color: #c2b6cf; 
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  
}
#a:hover {background-color: #af90cf}
#a2:hover {background-color: #af90cf}

#b, #b2 {
  background-color: #694e54; 
  color: white; 
  text-align: center;
  text-decoration: none;
  display: inline-block;

  
}
#b:hover {background-color: #663a43}
#b2:hover {background-color: #663a43}


