body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {

  font-family: "ZenKakuGothicAntiqueLight";

  src: local("ZenKakuGothicAntiqueLight"), url("./fonts/ZenKakuGothicAntique/ZenKakuGothicAntiqueLight.ttf") format("truetype");
  font-weight: "lighter"
  }

  @font-face {

    font-family: "ZenKakuGothicAntiqueMedium";
  
    src: local("ZenKakuGothicAntiqueMedium"), url("./fonts/ZenKakuGothicAntique/ZenKakuGothicAntiqueMedium.ttf") format("truetype");
    font-weight: "500"
    }

#spinner {
  color: rgb(235, 128, 128);
  left: 50%;
  top: 30%;
  z-index: 1000;
  position: absolute;
}

.loaderContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100;
  height: 100;
}